.bannerText {
  font-size: 30px;
  margin-left: 2%;
  margin-top: 2%;
}
  
.login {
  margin-left: 35%;
  margin-right: 35%;
}
  
#loginText {
  font-size: 40px;
  text-align: center;
}

#desc {
  text-align: center;
}

#spacer {
  padding: 16px;
}

.username {
  border-radius: 2px;
  border: 1px solid #000;
  padding-top: 20px; 
  padding-bottom: 20px;
  padding-left: 10px;
  width: 97%;
  height: 100%;  
}

.password {
  border-radius: 2px;
  border: 1px solid #000;
  padding-top: 20px; 
  padding-bottom: 20px;
  padding-left: 10px;
  width: 97%;
  height: 100%;  
}

input::value {
  padding-left: 10px;
}

.button {
  border: none;
  width: 100%;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#left {
  float: left;
  margin-top: 32px;
}

#right {
  float: right;
  margin-top: 32px;
}

.error {
  text-align: center;
  font-size: smaller;
  color: red;
  margin-left: 15%;
  margin-right: 15%;
}

.pageTitle {
  margin-top: 5vh;
  text-align: center;
  font-size: 50px;
}

.subheaderAnalytics {
  margin-top: 1.5vh;
  text-align: center;
  font-size: 25px;
}

.eventsPosted {
  font-size: 17px;
  margin-bottom: 8px;
}